@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  flex-direction: column;
}

ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 16px;
  }
  
  a {   
   font-size: 24px;
   background: #1f2937;
   padding: 8px;
   text-decoration: none;
   color: #F9FAF8;
  }
    
  .logo {
    max-width: 100%;
	height: auto;
    color: #F9FAF8;
    font-weight: 400;
    font-weight: 24px #F9FAF8;
}

.container {
	max-width: 100%;
	margin:  auto;
    background-color: #1f2937;
}
.header .container {
    background-color: #1f2937;
	padding: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav {
    display: flex;
	margin: 1em 0 .5em;
	text-align: center;
}

.list {
	display: flex;
    flex-direction: row;
}
.nav a {
	display: inline-block;
	padding: .5em 1.5em;
}

.hero {
    background-color: #1f2937;
    font-weight: 48px extra-bold #F9FAF8;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    margin: 0rem auto 0r auto; 
}

.hero img {
    height: 350px;
    border: 1px solid rgb(8, 46, 8);
    
}

.hero p {
    font-weight: 18px #E5E7EB;
    margin-right: 32px;
}

.my-button {
    display: block;
    border-radius: 12px;
    border: 1px solid #3882f6;
    padding: 10px 20px;
    background: #3882f6;
    font-size: 1.125em;
    cursor: pointer;
    color: #F9FAF8;
    margin-top: 1em;
}


.content {
    text-align: center;
}

.main {
    gap: 52px;
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 800;
    font-size: 32px;
    color: #1f2937;
}

.main{
    gap: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  
}

.project {
    border-radius: 12px;
    border: 1px solid #3882f6;
    padding: 2.25rem 2.25rem ;
    background: #3882f6;
    font-size: 1em;
    cursor: pointer;
    color: #F9FAF8;
    width: 150px;
    height: 150px;
    margin: 1em 1em 1em 1em;
}

